body{
     background-color: blueviolet;
     color: black;
     font-family: font-family "Sofadi One", system-ui;
     display: flex;
     justify-self: center;
     align-self: center;
    height: 700px;
     margin: 0;
}

button{
      background-color:aqua
     color aliceblue
     font-family;  font-family: "Sofadi One", system-ui;
      


}